.menuItem--menu-categoria-icone{
    display: block;
}
.styledLinkIcon--menu-categoria-icone{
    text-align: center;
    display: block;
}
.styledLinkContent--menu-categoria-icone{
    display: block !important;
}
.styledLinkIcon--menu-categoria-icone .activeClassName{
    display: block;
}