@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
.styledLinkContainer--menu-categoria-icone {
    margin-left: 11px !important;
    margin-right: 11px !important;
}

.styledLinkContent--menu-header-icone {
    font-family: 'Oswald';
    font-size: 12px;
}

.menuItem--menu-categoria-icone{
    display: block;
    width: 5.26316%;
}
.menuItem--menu-categoria-icone-footer{
    display: block;
}
.menuItem--menu-categoria-icone:hover {
    border-top:2px solid #ef1c8f;
    
    padding-top: -2px;
}

.styledLinkIcon--menu-categoria-icone, .styledLinkIcon--menu-categoria-icone-footer {
    text-align: center;
    display: block;
}

.styledLinkIcon--menu-categoria-icone .rebel-pink {
    color: green !important;
}

.styledLinkContent--menu-categoria-icone,
.styledLinkContent--menu-categoria-icone-footer {
    display: block !important;
    font-size: 12px;
    color: #ef1c8f;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
}

.styledLinkIcon--menu-categoria-icone .activeClassName {
    display: block;
}
.footer-mobile .list {
    justify-content: space-between;
}
