.flexRow--als-menu-full-header{
    background-color: #ffffff;
    margin-bottom: 10px;
}

.flexRowContent{
    background-color: white;
    align-items: center;
}
.flexRow .main-header-mobile{
    background-color: white;
}