@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
.paragraph--notificacaoBarTexto {
    color: #A1A1A1;
    transition: all .2s ease;
    font-family: 'Oswald';
}

.container--textLogo {
    margin-left: 30px;
}